@charset "UTF-8";

@font-face {
    font-family: 'gh';
    src: url("../font/Nightmare_Hero_Normal.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --verde_1: #346330;
    --verde_2: #0C6604;
    --verde_3: #5CB054;
    --verde_4: #77E36D;
    --verde_5: #B9E8B5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.container {
    display: flex;
}

p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 1.3em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
}

.hr {width: 100%; height: 1px; background-color: var(--verde_1);}

header {
    background-image: linear-gradient(to bottom, var(--verde_3), var(--verde_1));
    padding: 30px;
}

header > h1 {
    text-align: center;
    font-family: 'gh';
    font-weight: normal;
    color: white;
    font-size: 5em;
    min-height: 50px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.404);
}

header > p {
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 18px;
}

nav {
    background-color: var(--verde_1);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.39);
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    font-weight: bold;
    min-width: 500px;
}

nav >a:hover {
    color: var(--verde_1);
    font-weight: bold;
    padding: 10px;
    text-shadow: 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.432);
    background-color: var(--verde_3);
    border-radius: 15px;
    transition-duration: .2s;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}

main strong {
    color: var(--verde_2);
    font-weight: bold;
}

div#texts {
    margin-bottom: 30px;
}
article#article_1 > div > h1 {
    font-family: 'gh';
    font-weight: normal;
    font-size: 5em;
    text-align: center;
    color: var(--verde_1);
}

article#article_1 > div > h2 {
    font-family: 'gh';
    font-weight: normal;
    color: var(--verde_2);
    text-align: center;
    font-size: 2.5em;
}
div#img {
    margin: auto;
    text-align: center;
}

div#img p {
    margin-bottom: 50px;
    text-align: center;
}
div#img > img {
    max-width: 900px;
    max-height: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

footer {
    background-color: var(--verde_1);
    padding: 0.1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}

footer > p {
    text-align: center;
    color: white;
} 


article#article_1 a {
    text-align: center;
    margin: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 80px;
    background-color: var(--verde_3);
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.452);
    margin-bottom: 30px;
}

article#article_1 a:hover {
    margin: auto;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    border-radius: 80px;
    background-color: var(--verde_1);
    text-decoration: none;
    color: var(--verde_4);
    font-weight: bold;
}

div#divtwitter img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 20px;
}

div#divtwitter p {
    margin-top: 25px;
    text-indent: 15px;
}

div#divtwitter a {
    text-decoration: underline;
    color: var(--verde_2);
    font-weight: bold;
    padding: 0px;
    background-color: none;
    border-radius: none;
}

div#divtwitter a:hover {
    text-decoration: underline;
    color: var(--verde_3);
}

@media screen and (max-width:800px) {
    div#img > img {
        max-width: 400px;
        height: 280px;
    }
    article#article_2 {
        margin-top: 50px;
        text-align: center;
        display: block;
    }
    article#article_2 p {
        text-align: center;
    }
    .container {
        display: block;
    }
}